@page "/Journals/{JournalId:int}"

@attribute [Authorize]

@using Humanizer
@inherits SoarBeyondPageBase

<style> 
    body {
      background: #779df1;
    }
</style>

@if (_requestFailed)
{
    <ProblemView>
        <div class="text-center">
            <h3 class="mb-3">
                Uh Oh 😓! Something went wrong.
            </h3>
            <h4>
                The requested Journal either couldn't be found 
                or the request failed.
            </h4>
        </div>
    </ProblemView>
}
else
{
    <ContentLoadingView Data="@_journal">
        <PresentTemplate>
            <PageTitle>@_journal.Name.Truncate(50)</PageTitle>

            <div class="container p-4">
                <JournalInfoView Model="@_journal"
                                 OnContentChange="@UpdateJournalAsync" />

                <HeaderView ExtraClass="my-5">
                    <HumanizeCountView Count="@_journalEntries.Count"
                                       CountText="Journal Entry" />

                    <BSButton Class="@JournalEntryFormButtonClass"
                              @onclick="@ToggleFormVisibility">
                        @JournalEntryFormButtonText
                    </BSButton>
                </HeaderView>

                @if (_showForm)
                {
                    <CreateJournalEntryForm ExtraClass="mt-4 mb-5"
                                            OnValidSubmit="@CreateJournalEntryAsync" />
                }
                
                <ConfirmationDialog @ref="_confirmationDialog"/>
                
                <CollectionView Class="row row-cols-1 row-cols-md-2 g-4"
                                Data="@_journalEntries">
                    <ItemTemplate>
                        <div class="col" @key="@context.Id">
                            <JournalEntryView JournalEntry="@context"
                                              ShowThoughts="@true"
                                              ShowBadgeCount="@false"
                                              OnDeleteJournalEntry="@DeleteJournalEntryAsync" />
                        </div>
                    </ItemTemplate>
                </CollectionView>
            </div>
        </PresentTemplate>
    </ContentLoadingView>
}