@namespace SoarBeyond.Web.Components

@inherits SoarBeyondComponentBase

<div @attributes="@ComponentAttributes"
     class="@ComponentClasses"
     style="@ComponentStyles">
    <div class="card-header container-fluid">
        <div class="d-flex align-items-center">
            <span class="me-auto">
                @Category.CreatedDate.LocalDateTime.ToShortDateString()
            </span>
        </div>
    </div>

    <div class="card-body">
        <h5 class="card-title">
            @Category.Name
        </h5>

        @if (!string.IsNullOrEmpty(Category.Description))
        {
            <p class="card-text">
                @Category.Description
            </p>
        }
    </div>
</div>