@namespace SoarBeyond.Web.Components

@inherits SoarBeyondComponentBase

<div @attributes="@ComponentAttributes"
     class="@ComponentClasses"
     style="@ComponentStyles">
    <div class="card-body text-center">
        <h5 class="card-title">
            @Category.Name
        </h5>

        @if (!string.IsNullOrEmpty(Category.Description))
        {
            <h6 class="card-subtitle">
                @Category.Description
            </h6>
        }
    </div>
</div>