@namespace SoarBeyond.Web.Components

@inherits SoarBeyondComponentBase

@using static SoarBeyond.Shared.Extensions.CommonExtensions

<div @attributes="@ComponentAttributes"
     class="@ComponentClasses"
     style="@ComponentStyles">
    <div class="card-body">
        @if (ShowTitle)
        {
            <h5 class="card-title mb-3">
                Create a Category
            </h5>
        }

        <div class="card-text">
            <EditForm Model="@_category" OnValidSubmit="@HandleValidSubmitAsync">
                <FluentValidationValidator />

                <div class="form-group mb-3">
                    <label class="form-label">
                        @LabelFor(() => _category.Name)
                    </label>
                    <InputText class="form-control" @bind-Value="_category.Name" />
                    <ValidationMessage For="@(() => _category.Name)" />
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">
                        @LabelFor(() => _category.Description)
                        <span class="text-muted">(optional)</span>
                    </label>
                    <InputTextArea class="form-control" rows="3" @bind-Value="_category.Description" />
                    <ValidationMessage For="@(() => _category.Description)" />
                </div>

                <div class="d-grid">
                    <BSButton Type="submit" Disabled="@IsBusy">
                        Create
                    </BSButton>
                </div>
            </EditForm>
        </div>
    </div>
</div>