@namespace SoarBeyond.Web.Components

@inherits SoarBeyondComponentBase

@using static SoarBeyond.Shared.Extensions.CommonExtensions

<div @attributes="@ComponentAttributes"
     class="@ComponentClasses"
     style="@ComponentStyles">
    <div class="card-body">
        @if (ShowTitle)
        {
            <h5 class="card-title mb-3">
                Create a Journal
            </h5>
        }

        <div class="card-text">
            <EditForm Model="@_journal" OnValidSubmit="@HandleValidSubmitAsync">
                <FluentValidationValidator />

                <div class="form-group mb-3">
                    <label class="form-label">
                        @LabelFor(() => _journal.Name)
                    </label>
                    <InputText class="form-control" @bind-Value="_journal.Name" />
                    <ValidationMessage For="@(() => _journal.Name)" />
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">
                        @LabelFor(() => _journal.Description)
                        <span class="text-muted">(optional)</span>
                    </label>
                    <InputTextArea class="form-control" rows="3" @bind-Value="_journal.Description" />
                    <ValidationMessage For="@(() => _journal.Description)" />
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">
                        @LabelFor(() => _journal.Category)
                    </label>

                    @* Todo: Make Category Select component *@
                    <select class="form-select" @onchange="HandleCategorySelected">
                        @if (_categories is not null)
                        {
                            <option value="-1" selected>Uncategorized</option>
                            foreach (var item in _categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="d-grid">
                    <BSButton Type="submit" Disabled="@IsBusy">
                        Create
                    </BSButton>
                </div>
            </EditForm>
        </div>
    </div>
</div>