@namespace SoarBeyond.Web.Components

@inherits SoarBeyondComponentBase

<div @attributes="@ComponentAttributes"
     class="@ComponentClasses"
     style="@ComponentStyles">
    <div class="card-header container-fluid">
        <div class="d-flex align-items-center">
            <span class="me-auto">
                @Journal.CreatedDate.LocalDateTime.ToShortDateString()
            </span>

            <div @onclick="@ToggleFavoriteAsync" style="cursor: pointer">
                <h5 class="my-0">
                    <i class="@(Journal.Favored ? "fas fa-star" : "far fa-star")"></i>
                </h5>
            </div>

            @if (CanShowBadgeCount)
            {
                <h5 class="ms-1 my-0">
                    <span class="badge bg-primary">
                        @Journal.Moments.Count
                    </span>
                </h5>
            }
        </div>
    </div>

    <div class="card-body">
        <h5 class="card-title">
            @Journal.Name
        </h5>

        <p class="card-text">
            @Journal.Description
        </p>

        <div class="card-text">
            <div class="btn-group btn-group-sm shadow-none" role="group">
                <button type="button" class="btn btn-light" @onclick="@NavigateToViewPage">
                    <span class="text-primary">View</span>
                </button>
                <button type="button" class="btn btn-light" @onclick="@DeleteJournalAsync">
                    <span class="text-danger">Delete</span>
                </button>
            </div>
        </div>
    </div>

    @if (Journal.Category is not null)
    {
        <div class="card-footer container-fluid">
            @Journal.Category.Name
        </div>
    }
</div>