@namespace SoarBeyond.Web.Components

@inherits InfoViewBase<SoarBeyond.Domain.Dto.Journal>

@using Humanizer
@using static SoarBeyond.Shared.Extensions.CommonExtensions

<div class="card shadow mb-2">
    <div class="card-header container-fluid">
        <h5 class="m-0">@InfoTitle</h5>
    </div>

    <div class="card-body py-3">
        <div class="row mb-3">
            <div class="col-12">
                <label class="form-label">
                    @LabelFor(() => Model.Name)
                </label>
                <DebounceInput class="form-control"
                               @bind-Value="@Model.Name"
                               @bind-Value:event="oninput"
                               DebounceTime="@DebounceTime"
                               OnValueChanged="OnContentChanging"
                               ForceNotifyOnBlur="@false"
                               ForceNotifyByEnter="@false"/>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label class="form-label">
                    @LabelFor(() => Model.Description)
                </label>
                <DebounceTextArea class="form-control" rows="5"
                                  @bind-Value="@Model.Description"
                                  @bind-Value:event="oninput"
                                  DebounceTime="@DebounceTime"
                                  OnValueChanged="OnContentChanging"
                                  ForceNotifyOnBlur="@false"
                                  ForceNotifyByEnter="@false"/>
            </div>
        </div>

        @ContentSavingTemplate
    </div>

    <div class="card-footer container-fluid">
        Created @Model.CreatedDate.LocalDateTime.Humanize()
    </div>
</div>