@namespace SoarBeyond.Components

@if (_showDialog)
{
    <BSDialog ExtraClass="modal modal-dialog-centered"
              @bind-ShowDialog="@_showDialog"
              CloseOnFocusLost="@false">
        <DialogTitle>
            <h4 class="m-0">@Title</h4>
        </DialogTitle>

        <DialogBody>
            <h5 class="m-0">
                <mark class="rounded p-2">
                    @Description
                </mark>
            </h5>
        </DialogBody>

        <DialogFooter>
            <BSButton Class="btn btn-danger" 
                      @onclick="@SetCancelled">
                Cancel
            </BSButton>
            <BSButton Class="btn btn-primary" 
                      @onclick="@SetOk">
                Ok
            </BSButton>
        </DialogFooter>
    </BSDialog>
}

@code {
    private bool _showDialog;
    private TaskCompletionSource<bool> _completionSource = new();

    public string Title { get; set; } = "Confirm";
    public string Description { get; set; } = string.Empty;

    public async Task<bool> ShowAsync(string title, string description)
    {
        bool result;

        Title = title;
        Description = description;

        try
        {
            _showDialog = true;
            await InvokeAsync(StateHasChanged);
            result = await _completionSource.Task;
        }
        finally
        {
            _showDialog = false;
            await InvokeAsync(StateHasChanged);
            _completionSource = new();
        }

        return result;
    }

    private void SetOk() => _completionSource.SetResult(true);
    private void SetCancelled() => _completionSource.SetResult(false);

}