@namespace SoarBeyond.Web.Components

@inherits SoarBeyondComponentBase

@using SoarBeyond.Shared.Dto
@using static SoarBeyond.Shared.Extensions.CommonExtensions

<div @attributes="@ComponentAttributes"
     class="@ComponentClasses"
     style="@ComponentStyles">
    <div class="card-body">
        <div class="card-text">
            <EditForm Model="@_thought" OnValidSubmit="@HandleValidSubmitAsync">
                <FluentValidationValidator/>

                <div class="form-group mb-3">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <label class="form-label">
                                Pick a color for how you're feeling
                            </label>
                        </div>
                        
                        <div class="col-12 col-md-4">
                            <input class="w-100" type="color" @bind-value="@_thought.Color">
                        </div>
                    </div>
                    <ValidationMessage For="@(() => _thought.Color)"/>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">
                        @LabelFor(() => _thought.Details)
                    </label>
                    <InputTextArea class="form-control" rows="4" @bind-Value="@_thought.Details"/>
                    <ValidationMessage For="@(() => _thought.Details)"/>
                </div>

                <div class="d-grid">
                    <BSButton Type="submit" Disabled="@IsBusy">
                        Add
                    </BSButton>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public EventCallback<Thought> OnValidSubmit { get; set; }

    private Thought _thought = new();

    public CreateThoughtForm()
    {
        Class = "card shadow";
    }

    private async Task HandleValidSubmitAsync()
    {
        IsBusy = true;
        await OnValidSubmit.InvokeAsync(_thought);
        IsBusy = false;
    }

    private void ResetModel()
    {
        _thought = new();
    }

    public void ResetForm()
    {
        ResetModel();
    }

}